In [1]:
import pandas as pd
import seaborn as sns
from sklearn import linear_model

In [2]:
df = pd.read_csv("term-insurance-dataset.csv")
df

   age  height  weight  premium
0   30     175      70      500
1   35     180      75      550
2   40     170      80      600
3   45     165      85      650
4   50     172      90      700
5   55     178      95      750
6   60     167     100      800
7   65     175     105      850
8   70     180     110      900
9   75     170     115      950

In [11]:
x1=df[["age"]]

In [ ]:
x2=df[['height']]

In [ ]:
x3=df[['weight']]

In [12]:
y=df['premium']

In [13]:
x1

   age
0   30
1   35
2   40
3   45
4   50
5   55
6   60
7   65
8   70
9   75

In [21]:
y

0    500
1    550
2    600
3    650
4    700
5    750
6    800
7    850
8    900
9    950
Name: premium, dtype: int64

In [25]:
reg=linear_model.LinearRegression()

In [26]:
reg.fit(df[["age","height","weight"]],df[["premium"]])

LinearRegression()

In [6]:
reg.coef_

array([[5., 0., 5.]])

In [7]:
reg.intercept_

array([2.27373675e-13])

In [8]:
reg.predict([[25,165,70]])

C:\Users\ASUS\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[475.]])

In [10]:
reg.predict([[33,170,70]])

C:\Users\ASUS\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[515.]])

In [28]:
5*25+0*165+5*70+2.27373675e-13

475.0000000000002